
.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}

.cards-container {
    width: 90%;
    margin: 0 auto;
}
.btn{
    width: 140px;
    height: 50px;
    background-color: #645e5e;
    color: white;
    border-radius: 10px;
    border: solid #2f2d2d 2px;
}
.button-container{
    margin-top: 2%;
    display: flex;
    justify-content: center;
}
