.footer-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
}
.footer-inform {
	font-size: 12px;
}

.footer-logo {
	width: 100px;
	display: block;
}
span {
	display: flex;
	font-size: 10px;
	justify-content: center;
	margin-top: 20px;
	color: grey;
}
.icon {
	padding-left: 120px;
	color: black;
}
.icon-awe {
	display: flex;
	font-size: 20px;
}
.icon-awe p {
	margin-right: 10px;
}

.icon-fa {
	color: darkblue;
}
.icon-tw {
	color: rgb(29, 85, 158);
}
.icon-ta {
	color: rgb(139, 21, 0);
}
.icon-te {
	color: rgb(119, 205, 255);
}
